*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: #fff;
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;

}
.choice:hover{
    cursor: pointer;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin: 3rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
#msg{
    background-color: #081b31;
    font-size: 2rem;
    color: #fff;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-countainer{
    margin-top:5rem ;
}